DATABASE_URL="postgresql://user:password@localhost:5432/raveearning?schema=public"
PORT=3001
JWT_SECRET="your_jwt_secret_here"
BACKEND_URL="https://your-backend-domain.com/api"

# Quick Pay Automatic Payment Gateway Credentials
QUICKPAY_MERCHANT="YOUR_QUICKPAY_MERCHANT_CODE"
QUICKPAY_KEY="YOUR_QUICKPAY_SECRET_KEY"
QUICKPAY_URL="https://safricaapi.quickn.vip"
QUICKPAY_CHANNEL="8001"
